################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/repos/FileContentIndex
/.vs/Hackaton/v17
/.vs/Hackaton/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
